<%= form_with url: root_path, method: "get", local: true do |f| %>
    <div class="field">
        <%= f.label :username, "Flickr Username:", class: "label" %>
        <div class="control">
            <%= f.text_field :username, class: "input", placeholder: "Username..." %>
        </div>
    </div>
    <%= f.submit "Search", class: "button is-primary" %>
<% end %>
